---
layout: default
title: Data Science Tutorial | meblogs
permalink: /tutorial/datascience/
---
<section class="container">
    <div class="row">
        <div class="col-md-4 hidden-xs hidden-xs-down">
            {% include sidebar.html %}
        </div>
        <div class="col-md-8">
            <div class="col-md-8">
                <div class="mainheading">
                    <div class="after-post-tags">
                        <ul class="tags">
                            <li>
                                <a href="{{ site.baseurl }}/tutorial/datascience/">Data Science tutorial</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% include datascience_section.html %}
        </div>
    </div>
</section>

