---
layout: default
title: Home
---

</div>
</div>

<!-- We reopen main-content and container --> 

<div class="container">
    
    <div class="main-content">
         {% if paginator.previous_page %}
                {% if paginator.previous_page > 0 %}
                    <div id="jumptopageof"></div>
                {% endif %}
        {% endif %}    
        <section class="recent-posts row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2><span>All Tutorial</span></h2>    
                </div>
                <div class="masonrygrid row listrecent">
                    {% for post in paginator.posts  %}
                        {% if post.tutorial  %}
                            {% include postbox.html %}
                        {% endif %}
                    {% endfor %}
                </div> 
                <div class="bottompagination">
                    <span class="navigation" role="navigation">
                        {% include pagination.html %}
                    </span>
                </div>
            </div>
        </section>
    </div>
</div>