---
layout: default
title: Python tutorial | meblogs
permalink: /tutorial/python/
---
<section class="container">
    <div class="row">
        <div class="col-md-4 hidden-xs hidden-xs-down">
            {% include sidebar.html %}
        </div>
        <div class="col-md-8">
            <div class="mainheading">
                <div class="after-post-tags">
                    <ul class="tags">
                        <li>
                            <a href="{{ site.baseurl }}/tutorial/python/">Python tutorial</a>
                        </li>
                    </ul>
                </div>
            </div>
            {% include python_section.html %}
        </div>
    </div>
</section>

